# Copy this file to .env and adjust as needed.
# .env is gitignored.

# Postgres
POSTGRES_USER=hasura
POSTGRES_PASSWORD=hasurapassword
POSTGRES_DB=hasura_dev

# Hasura
HASURA_GRAPHQL_DATABASE_URL=postgres://hasura:hasurapassword@postgres:5432/hasura_dev
HASURA_GRAPHQL_ENABLE_CONSOLE=true
HASURA_GRAPHQL_DEV_MODE=true
HASURA_GRAPHQL_ENABLED_APIS=metadata,graphql,config
HASURA_GRAPHQL_ADMIN_SECRET=local-admin-secret
HASURA_GRAPHQL_LOG_LEVEL=warn

# Metabase
MB_DB_TYPE=h2
MB_DB_FILE=/metabase-data/metabase.db
MB_PLUGINS_DIR=/plugins
